<!doctype html>
<html data-framework="vue">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kiptab</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="styles/material.min.css">
        <link rel="stylesheet" href="styles/main.css">

        <link rel="stylesheet" href="styles/dialog-polyfill.css">
        <script src="scripts/dialog-polyfill.js"></script>
    </head>
    <body>
        <div v-show="state.isFirstTime">
            <style>
                .welcome-card.mdl-card {
                    width: 100% !important;
                    height: 100vh;
                }

                .welcome-card > .mdl-card__title {
                    color: #fff;
                    height: 55vh;
                    background: url('images/welcome.jpg') center / cover;
                }

                .welcome-card > .mdl-card__supporting-text {
                    height: 45vh;
                }

                .welcome-card > .mdl-card__actions {
                    height: auto;
                }
            </style>

            <div class="welcome-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Welcome</h2>
                </div>

                <div class="mdl-card__supporting-text">
                    <p>
                        Kiptab helps you and your friends keep track of expenses during vacations and other social settings
                        by balancing debts automagically.
                    </p>

                    <p>Start by telling us more about you.</p>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" v-model="state.currentUser.email">
                        <label class="mdl-textfield__label" for="name">Email...</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" v-model="state.currentUser.name">
                        <label class="mdl-textfield__label" for="name">Name...</label>
                    </div>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <a @click="registerUser(state.currentUser)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Create Profile
                    </a>
                </div>
            </div>
        </div>

        <div v-else class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Kiptab</span>
                </div>

                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    <a href="#tab-users" class="mdl-layout__tab is-active disabled">Friends</a>
                    <a href="#tab-expenses" class="mdl-layout__tab disabled">Expenses</a>
                    <a href="#tab-debts" class="mdl-layout__tab disabled">Debts</a>
                </div>
            </header>

            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Groups</span>

                <nav class="mdl-navigation">
                    <a v-for="group in groupsOfUser(state.currentUser)" class="mdl-navigation__link" href="">
                        <i class="material-icons">group</i>
                        {{ group.name }}
                    </a>
                </nav>
            </div>

            <main class="mdl-layout__content">
                <section id="tab-users" class="mdl-layout__tab-panel is-active">
                    <div v-if="userHasGroup()" class="page-content">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--three-line" v-for="user in state.currentGroup.users">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-avatar">person</i>
                                    <span>{{ user.name }}</span>
                                    <span class="mdl-list__item-text-body">{{ user.email }}</span>
                                </span>

                                <span>
                                    <a @click="removeUser(user)" class="mdl-list__item-secondary-action"><i class="material-icons">delete</i></a>
                                </span>
                            </li>
                        </ul>

                        <button onclick="dom.registerDialog('#users-add-dialog')" id="users-add-button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--bottom-right mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">group_add</i>
                        </button>
                    </div>

                    <div v-else class="page-content" style="padding: 20px">
                        <style>
                            .demo-card-square.mdl-card {
                                width: 100% !important;
                            }
                        </style>

                        <div class="demo-card-square mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__supporting-text">
                                <p>Now that you've created a profile, you can finally start to keep tabs on your friends.</p>
                                <p>To do that you just have to join a group. Either create one below or wait to be invited by your friends.</p>

                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="group-name" v-model="state.currentGroup.name">
                                    <label class="mdl-textfield__label" for="group-name">Name...</label>
                                </div>
                            </div>

                            <div class="mdl-card__actions mdl-card--border">
                                <a @click="createGroup(state.currentGroup)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Create Group
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="tab-expenses" class="mdl-layout__tab-panel">
                    <div class="page-content">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--three-line" v-for="expense in state.currentGroup.expenses">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-avatar">attach_money</i>

                                    <span>${{ expense.value}}</span>

                                    <span class="mdl-list__item-text-body">{{ expense.description }}</span>
                                </span>

                                <span>
                                    <a onclick="dom.registerDialog('#expenses-edit-dialog')" class="expenses-edit-button" @click="editExpense(expense)" class="mdl-list__item-secondary-action"><i class="material-icons">edit</i></a>
                                    <a @click="removeExpense(expense)" class="mdl-list__item-secondary-action"><i class="material-icons">delete</i></a>
                                </span>
                            </li>
                        </ul>

                        <button onclick="dom.registerDialog('#expenses-add-dialog')" id="expenses-add-button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--bottom-right mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">add_shopping_cart</i>
                        </button>
                    </div>
                </section>

                <section id="tab-debts" class="mdl-layout__tab-panel">
                    <div class="page-content">
                        <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Person</th>
                                    <th>Debt</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="user in state.currentGroup.users"  v-if="!sameUser(user,state.currentUser)">
                                    <td class="mdl-data-table__cell--non-numeric">{{ user.name }}</td>
                                    <td>${{ balanceBetween(user,state.currentUser) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </main>
        </div>

        <dialog id="users-add-dialog" class="mdl-dialog">
            <h4 class="mdl-dialog__title">Invite Friend to Group</h4>

            <div class="mdl-dialog__content">
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" v-model="tmpUser.email">
                        <label class="mdl-textfield__label" for="name">Email...</label>
                    </div>
                </form>
            </div>

            <div class="mdl-dialog__actions">
                <button onclick="dom.closeDialog('#users-add-dialog')" type="button" class="mdl-button submit" @click="inviteUser(tmpUser.email)">Add</button>
                <button onclick="dom.closeDialog('#users-add-dialog')" type="button" class="mdl-button close">Cancel</button>
            </div>
        </dialog>

        <dialog id="expenses-add-dialog" class="mdl-dialog">
            <h4 class="mdl-dialog__title">Add Expense</h4>

            <div class="mdl-dialog__content">
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="value" class="mdl-textfield__input" type="text" pattern="^[0-9]*(\.[0-9]+)?" v-model="tmpExpense.value" number>
                        <label class="mdl-textfield__label" for="value">Value...</label>
                        <span class="mdl-textfield__error">Value is not a positive number!</span>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="description" class="mdl-textfield__input" type="text" v-model="tmpExpense.description">
                        <label class="mdl-textfield__label" for="description">Description...</label>
                    </div>

                    <select multiple v-model="tmpExpense.debtors">
                        <option v-for="user in state.currentGroup.users" value="{{ user.email }}">{{ user.name }}</option>
                    </select>
                </form>
            </div>

            <div class="mdl-dialog__actions">
                <button onclick="dom.closeDialog('#expenses-add-dialog')" type="button" class="mdl-button submit" @click="addExpense(tmpExpense)">Add</button>
                <button onclick="dom.closeDialog('#expenses-add-dialog')" type="button" class="mdl-button close">Cancel</button>
            </div>
        </dialog>

        <dialog id="expenses-edit-dialog" class="mdl-dialog">
            <h4 class="mdl-dialog__title">Edit Expense</h4>

            <div class="mdl-dialog__content">
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="value" class="mdl-textfield__input" type="text" pattern="^[0-9]*(\.[0-9]+)?" value="{{ tmpExpense.value }}" v-model="tmpExpense.value" number>
                        <span class="mdl-textfield__error">Value is not a positive number!</span>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="description" class="mdl-textfield__input" type="text" value="{{ tmpExpense.description }}" v-model="tmpExpense.description">
                    </div>

                    <select multiple v-model="tmpExpense.debtors">
                        <option v-for="user in state.currentGroup.users" value="{{ user.email }}">{{ user.name }}</option>
                    </select>
                </form>
            </div>

            <div class="mdl-dialog__actions">
                <button onclick="dom.closeDialog('#expenses-edit-dialog')" type="button" class="mdl-button submit" @click="doneEditExpense(tmpExpense)">Edit</button>
                <button onclick="dom.closeDialog('#expenses-edit-dialog')"type="button" class="mdl-button close" @click="cancelEditExpense(tmpExpense)">Cancel</button>
            </div>
        </dialog>
    </body>

    <script src="scripts/jquery-3.1.0.min.js"></script>
    <script src="scripts/material.min.js"></script>
    <script src="scripts/vue.js"></script>
    <script src="scripts/helpers.js"></script>
    <script src="scripts/storage.js"></script>
    <script src="scripts/dom.js"></script>
    <script src="scripts/app.js"></script>
</html>
